html(lang="fr")
    head
        meta(charset="UTF-8")
        title Wakascrapt
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js")
        link(rel="stylesheet", href="style.css")
    body

    h1 Welcome #{username} !

    if token === undefined
        div
            p You need to connect your wakatime accout.
            a(href="/oauth/redirect") Click here !

    else
        #loader
            p Updating data...
            .lds-ripple
                div
                div
        #container
            #canvasContainer
                div
                    canvas(id="codingActivityChart")
                div
                    canvas(id="languagesChart")

        script(src="/drawDailyActivity.js")
        script(src="/drawLanguages.js")
        script.
            function getSummaries(offset) {
                let start = new Date();
                let end = new Date();

                // TODO : Find why -1
                start.setDate(start.getDate() - (offset - 1));

                return axios.post('/getSummaries', {
                    startTime: start.toISOString().split('T')[0],
                    endTime: end.toISOString().split('T')[0]
                })
            }


            axios.post('/update')
                .then(response => {
                    console.log("Success !");
                    document.getElementById('loader').remove();

                    return getSummaries(7);
                })
                .then(result => {
                    drawDailyActivity(result.data);
                    drawLanguages(result.data);
                })
                .catch(error => {
                    console.log("Error while updating data : " + error);
                    document.getElementById('loader').remove();
                });

