html(lang="fr")
    head
        meta(charset="UTF-8")
        title Wakascrapt
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        link(rel="stylesheet", href="style.css")
    body

    h1 Welcome #{username} !

    if token === undefined
        div
            p You need to connect your wakatime accout.
            a(href="/oauth/redirect") Click here !

    else
        #loader
            p Updating data...
            .lds-ripple
                div
                div

        script.
            function getSummaries(offset) {
                let start = new Date();
                let end = new Date();

                start.setDate(start.getDate() - offset);

                axios.post('/getSummaries', {
                    startTime: start.toISOString().split('T')[0],
                    endTime: end.toISOString().split('T')[0]
                })
                .then(response => {
                    console.log("Resonse from the server -> " + JSON.stringify(response.data, null, 4));
                })
                .catch(error => {
                    console.log("Error from the server -> " + error);
                });
            }

            axios.post('/update')
            .then(response => {
                console.log("Success !");
                document.getElementById('loader').remove();

                getSummaries(7);
            })
            .catch(error => {
                console.log("Error while updating data : " + error);
                document.getElementById('loader').remove();
            })

