html(lang="fr")
    head
        meta(charset="UTF-8")
        title Wakascrapt
    body
        h1 Wakascrapt
        h2 Free wrapper to Wakatime !

        a(href="/login") Sign In
        a(href="/join") Sign Up
                